* text=auto

*.cs text eol=lf
*.asmdef text eol=lf
*.asmref text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.dll binary
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ogg binary
